In [1]:
!pip freeze | grep scikit-learn

In [2]:
!python -V

Python 3.12.3

In [33]:
import pickle
import pandas as pd
import numpy as np
import os
import pathlib

In [5]:
with open('model.bin', 'rb') as f_in:
    dv, model = pickle.load(f_in)

In [6]:
categorical = ['PULocationID', 'DOLocationID']

def read_data(filename):
    df = pd.read_parquet(filename)
    
    df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
    df['duration'] = df.duration.dt.total_seconds() / 60

    df = df[(df.duration >= 1) & (df.duration <= 60)].copy()

    df[categorical] = df[categorical].fillna(-1).astype('int').astype('str')
    
    return df

In [8]:
df = read_data('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-03.parquet')

In [9]:
dicts = df[categorical].to_dict(orient='records')
X_val = dv.transform(dicts)
y_pred = model.predict(X_val)

In [15]:
np.std(y_pred)

np.float64(6.247488852238703)

In [37]:
year = 2023
month = 3
taxi_type = 'yellow'

base_dir = '/workspaces/mlops_zoomcamp2024/04-deployment/output'
output_dir = os.path.join(base_dir, taxi_type)
output_file = os.path.join(output_dir, f'{year:04d}-{month:02d}.parquet')

In [38]:
output_file

'/workspaces/mlops_zoomcamp2024/04-deployment/output/yellow/2023-03.parquet'

In [ ]:
/workspaces/mlops_zoomcamp2024/04-deployment/output/yellow

In [18]:
df['ride_id'] = f'{year:04d}/{month:02d}_' + df.index.astype('str')

In [19]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,duration,ride_id
0,2,2023-03-01 00:06:43,2023-03-01 00:16:43,1.0,0.00,1.0,N,238,42,2,...,1.0,0.5,0.00,0.0,1.0,11.10,0.0,0.00,10.000000,2023/03_0
1,2,2023-03-01 00:08:25,2023-03-01 00:39:30,2.0,12.40,1.0,N,138,231,1,...,6.0,0.5,12.54,0.0,1.0,76.49,2.5,1.25,31.083333,2023/03_1
2,1,2023-03-01 00:15:04,2023-03-01 00:29:26,0.0,3.30,1.0,N,140,186,1,...,3.5,0.5,4.65,0.0,1.0,28.05,2.5,0.00,14.366667,2023/03_2
3,1,2023-03-01 00:49:37,2023-03-01 01:01:05,1.0,2.90,1.0,N,140,43,1,...,3.5,0.5,4.10,0.0,1.0,24.70,2.5,0.00,11.466667,2023/03_3
4,2,2023-03-01 00:08:04,2023-03-01 00:11:06,1.0,1.23,1.0,N,79,137,1,...,1.0,0.5,2.44,0.0,1.0,14.64,2.5,0.00,3.033333,2023/03_4

In [20]:
df_result = pd.DataFrame()
df_result['ride_id'] = df['ride_id']
df_result['predicteds'] = y_pred

In [39]:
df_result.to_parquet(
    output_file,
    engine='pyarrow',
    compression=None,
    index=False
)

In [41]:
parquet_file_path = '/workspaces/mlops_zoomcamp2024/04-deployment/output/yellow/2023-03.parquet'

# Get the size of the file in bytes
file_size_bytes = os.path.getsize(parquet_file_path)

# Optionally, convert the file size to a more readable format (e.g., KB, MB)
file_size_kb = file_size_bytes / 1024
file_size_mb = file_size_kb / 1024

In [42]:
file_size_mb

65.46188354492188